@{
    ViewBag.Title = "About Team 6";
}
<h2>
    Team 6 Contact Info
</h2>

<p>
    <strong>Preston Bonomo</strong>   <a href="mailto:pb764516@ohio.edu">pb764516@ohio.edu</a><br />
    <strong> Luke Csesh:</strong>   <a href="mailto:le333118@ohio.edu">le333118@ohio.edu</a><br />
    <strong>Lucas Eggert:</strong>   <a href="mailto:lc802216@ohio.edu">lc802216@ohio.edu</a><br />
    <strong>Alexis Risner:</strong>   <a href="mailto:ar306514@ohio.edu">ar306514@ohio.edu</a><br />
    <strong>Zachary Shalala:</strong>   <a href="mailto:zs014616@ohio.edu">zs014616@ohio.edu</a><br />


</p>
